{% extends 'admin.html.twig' %}

{% block content %}
        <div class="row">
            <div class="col">
                <h1>Gestion des oeuvres</h1>

                {#
                   <p class="text-right">
                        <a href="{{ url('admin.product.form') }}" class="btn btn-primary">Ajouter</a>
                    </p>
                #}
                <table class="table table-striped">
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Catégories</th>
                        <th></th>
                    </tr>
                    {% for artPiece in artPieces %}
                        <tr>
                            <td>{{ artPiece.name }}</td>
                            <td>{{ artPiece.description }}</td>
                            <td>
                                <img src="{{ asset('img/artwork/' ~ artPiece.image) }}" alt="" class="w-25" />
                            </td>
                            <td>
                                <li>{{ artPiece.category.name | capitalize }}</li>
                            </td>
                            <td>
                                <a href="#" class="btn btn-warning">Modifier</a>
                                <a href="#" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}