{% extends 'admin.html.twig' %}

{% block content %}
    <div class="accordion col" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Exhibition comming up
                    </button>
                    <a href="#" class="btn btn-primary" style="display: inline-block; float:right;">Ajouter</a>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                {% for exhibition in exhibitionCommingUp %}
                        <div class="card card-body" style="margin-bottom: 5px">
                            <div class="card-header">
                                {{ exhibition.exhibitionDate | date('d/m/Y')}}
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>{{ exhibition.name }}</p>
                                    <footer class="blockquote-footer">{{ exhibition.description }} </footer>
                                </blockquote>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Collapsible Group Item #2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                {% for exhibition in passedExhibitions %}
                    <div class="card card-body" style="margin-bottom: 5px">
                        <div class="card-header">
                            {{ exhibition.exhibitionDate | date('d/m/Y')}}
                        </div>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>{{ exhibition.name }}</p>
                                <footer class="blockquote-footer">{{ exhibition.description }} </footer>
                            </blockquote>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}