{% extends 'parent.html.twig' %}

{% block content %}
    <div class="row">
    {% for artPiece in artPieces %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('img/artwork/' ~ artPiece.image) }}" class="card-img-top" alt="{{ artPiece.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ artPiece.name }}</h5>
                    <p class="card-text">{{ artPiece.description }}</p> {# truncate(20) #}
                    <a href="{{ url('artwok.detail', {'artId': artPiece.id}) }}" class="btn btn-primary">Détails</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}